name: $(Build.BuildId).$(date:yyyyMMdd)

pr:
  branches:
    include:
    - main
    - develop
    - test
#  paths:
#    include:
#    - sl-df-nonprod/*

trigger: none
#   branches:
#     include:
#     - main
#     - develop
#     - test
#   paths:
#     include:
#     - sl-df-nonprod/*
#     - DevOps/Pipelines/datafactory-deploy-pipeline-cicd.yml
#     - DevOps/Pipelines/stage-datafactory-integration.yml

pool: ubuntu-latest
#Daf-Self-Pool01
# vmImage: ubuntu-latest

stages:
# ---------------------------------------------------------------------------
# Build artifacts
- stage: 'build'
  jobs:
  # Use this section to pull in or out build jobs
  - template: Templates/job-copy-datafactory-arm.yml
    parameters:
      data_factory_name: 'adf-swcnonprod01-daf-dev-01'

# ---------------------------------------------------------------------------
# Release to Non-Prod - Dev Environment
- template: Templates/stage-datafactory-integration.yml
  parameters:
    #dependencies: ['uat'] # Used to define any stage dependencies
    stage_name: 'deploy_adf_dev'
    variable_template_name: dev-variables
    run_condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/develop'))

# ---------------------------------------------------------------------------
# Release to Non-Prod - Test Environment..
- template: Templates/stage-datafactory-integration.yml
  parameters:
    #dependencies: ['uat'] # Used to define any stage dependencies
    stage_name: 'deploy_adf_test'
    variable_template_name: test-variables
    run_condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/test'))

# ---------------------------------------------------------------------------
# Release to Non-Prod - PreProd Environment.
- template: Templates/stage-datafactory-integration.yml
  parameters:
    #dependencies: ['uat'] # Used to define any stage dependencies
    stage_name: 'deploy_adf_preprod'
    variable_template_name: preprd-variables
    run_condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))

