parameters:
- name: service_connection # name of the parameter; required
  type: string # data type of the parameter; required
- name: resource_group
  type: string
- name: database_name 
  type: string
- name: database_kind
  type: string
- name: database_sku
  type: string
- name: database_properties
  type: string
- name: log_analytics
  type: boolean

steps:
  - bash: |
      set -e

      # System info for debugging this pipeline if needed
      echo -e "Linux name:"
      uname -a
      echo
      echo -e "Working Directory:"
      echo "$(Build.Repository.LocalPath)"
      echo
      echo -e "List of files available:\n"
      ls -laR $(Build.Repository.LocalPath)
      echo
      echo -e "Pipeline workspace available:\n"
      ls -laR $(Pipeline.Workspace)
      echo -e "Environment variables:"
      env | sort
      echo
    displayName: 'Agent info'

  - task: AzureResourceGroupDeployment@2
    inputs:
      azureSubscription: ${{ parameters.service_connection }}
      action: 'Create Or Update Resource Group'
      resourceGroupName: ${{ parameters.resource_group }}
      location: $(LOCATION)
      templateLocation: 'Linked artifact'
      csmFile: '$(Pipeline.Workspace)/arm_templates/arm-sql-db.json'
      overrideParameters: |
        -location $(LOCATION) -databaseName ${{ parameters.database_name }} -databaseKind ${{ parameters.database_kind }} -databaseSku ${{ parameters.database_sku }} -databaseProperties ${{ parameters.database_properties }}
      deploymentMode: 'Incremental'
    displayName: 'Deploy Azure SQL - ${{ parameters.database_name }}'
